# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

In [15]:
import numpy as np
import pandas as pd

In [19]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)
print(df.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [21]:
print(df.tail())

     Customer   ST GENDER Education Customer Lifetime Value  Income  \
4003      NaN  NaN    NaN       NaN                     NaN     NaN
4004      NaN  NaN    NaN       NaN                     NaN     NaN
4005      NaN  NaN    NaN       NaN                     NaN     NaN
4006      NaN  NaN    NaN       NaN                     NaN     NaN
4007      NaN  NaN    NaN       NaN                     NaN     NaN

      Monthly Premium Auto Number of Open Complaints Policy Type  \
4003                   NaN                       NaN         NaN
4004                   NaN                       NaN         NaN
4005                   NaN                       NaN         NaN
4006                   NaN                       NaN         NaN
4007                   NaN                       NaN         NaN

     Vehicle Class  Total Claim Amount
4003           NaN                 NaN
4004           NaN                 NaN
4005           NaN                 NaN
4006           NaN                 NaN
4007           NaN                 NaN

In [25]:
print("Data types of each column:\n", df.dtypes)

Data types of each column:
 Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [26]:
print("Summary statistics for numerical columns:\n", df.describe())

Summary statistics for numerical columns:
              Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB
None

In [27]:
unique_values = df.nunique()
print("Number of unique values in each column:\n", unique_values)

Number of unique values in each column:
 Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [34]:
import pandas as pd

In [38]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
customer_dataframe = pd.read_csv(url)
print(customer_dataframe.head())

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

In [44]:
df = pd.DataFrame(customer_dataframe)

In [146]:
location_counts = df['ST'].(pt_total)

SyntaxError: invalid syntax (3787679211.py, line 1)

In [58]:
location_counts

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [55]:
top_5_less_common_sorted = top_5_less_common.sort_values()

In [51]:
print(top_5_less_common_sorted)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
consumer_data_pt

In [91]:
policy_sold = pd.DataFrame(df['Policy Type'].value_counts())

In [92]:
print ("total policy sold", policy_sold)

total policy sold                 count
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57

In [93]:
policy_sold

                count
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57

In [94]:

policy_sold_counts = policy_sold.max()

In [95]:
print("Maximum number of policies sold:", policy_sold_counts)

Maximum number of policies sold: count    780
dtype: int64

In [89]:
most_common_policy_type = policy_sold.idxmax()

In [90]:
print("Most common policy type:", most_common_policy_type)

Most common policy type: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [105]:
import pandas as pd

policy_sold

                count
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57

In [111]:
customer_data = pd.DataFrame(customer_data)

In [112]:
print(df.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [113]:
personal_auto = df.loc[df['Policy Type'] == 'Personal Auto']

In [116]:
avargeincome_personal_auto = personal_auto['Income'].mean()

In [117]:
print(personal_auto)

     Customer          ST GENDER             Education  \
0     RB50392  Washington    NaN                Master
1     QZ44356     Arizona      F              Bachelor
2     AI49188      Nevada      F              Bachelor
4     GA49547  Washington      M  High School or Below
5     OC83172      Oregon      F              Bachelor
...       ...         ...    ...                   ...
1065  XD85577        Cali      M              Bachelor
1066  TM65736      Oregon      M                Master
1067  VJ51327        Cali      F  High School or Below
1068  GS98873     Arizona      F              Bachelor
1070  MY31220  California      F               College

     Customer Lifetime Value   Income  Monthly Premium Auto  \
0                        NaN      0.0                1000.0
1                 697953.59%      0.0                  94.0
2                1288743.17%  48767.0                 108.0
4                 536307.65%  36357.0                  68.0
5                 825629.78%  62902.0                  69.0
...                      ...      ...                   ...
1065              284226.69%  69417.0                  73.0
1066              305955.03%  38644.0                  78.0
1067             2031499.76%  63209.0                 102.0
1068              323912.47%  16061.0                  88.0
1070              899704.02%  54230.0                 112.0

     Number of Open Complaints    Policy Type  Vehicle Class  \
0                       1/0/00  Personal Auto  Four-Door Car
1                       1/0/00  Personal Auto  Four-Door Car
2                       1/0/00  Personal Auto   Two-Door Car
4                       1/0/00  Personal Auto  Four-Door Car
5                       1/0/00  Personal Auto   Two-Door Car
...                        ...            ...            ...
1065                    1/1/00  Personal Auto  Four-Door Car
1066                    1/1/00  Personal Auto  Four-Door Car
1067                    1/2/00  Personal Auto            SUV
1068                    1/0/00  Personal Auto  Four-Door Car
1070                    1/0/00  Personal Auto   Two-Door Car

      Total Claim Amount
0               2.704934
1            1131.464935
2             566.472247
4              17.269323
5             159.383042
...                  ...
1065           30.874869
1066          361.455219
1067          207.320041
1068          633.600000
1070          537.600000

[780 rows x 11 columns]

In [123]:
print(f"Average income for Personal Auto policies: {avargeincome_personal_auto}")

Average income for Personal Auto policies: 38180.69871794872

In [118]:
corporate_auto = df.loc[df['Policy Type'] == 'Corporate Auto']

In [127]:
avargecorporate_auto = corporate_auto["Income"].mean()

In [120]:
print(corporate_auto)

     Customer          ST GENDER             Education  \
3     WW63253  California      M              Bachelor
6     XZ87318      Oregon      F               College
7     CF85061     Arizona      M                Master
8     DY87989      Oregon      M              Bachelor
12    DP39365  California    NaN                Master
...       ...         ...    ...                   ...
1045  WZ31900      Oregon      F              Bachelor
1050  BJ53923     Arizona      M  High School or Below
1052  FB23788      Oregon      M  High School or Below
1056  PI47776      Oregon      F              Bachelor
1059  YG44474      Oregon      M               College

     Customer Lifetime Value   Income  Monthly Premium Auto  \
3                 764586.18%      0.0                 106.0
6                 538089.86%  55350.0                  67.0
7                 721610.03%      0.0                 101.0
8                2412750.40%  14072.0                  71.0
12                879879.70%  77026.0                 110.0
...                      ...      ...                   ...
1045              864970.06%  94389.0                 107.0
1050              260027.21%  51978.0                  66.0
1052              882883.50%  86721.0                 111.0
1056              253070.51%  89451.0                  63.0
1059             1401472.13%  54193.0                 117.0

     Number of Open Complaints     Policy Type  Vehicle Class  \
3                       1/0/00  Corporate Auto            SUV
6                       1/0/00  Corporate Auto  Four-Door Car
7                       1/0/00  Corporate Auto  Four-Door Car
8                       1/0/00  Corporate Auto  Four-Door Car
12                      1/2/00  Corporate Auto  Four-Door Car
...                        ...             ...            ...
1045                    1/0/00  Corporate Auto            SUV
1050                    1/0/00  Corporate Auto  Four-Door Car
1052                    1/0/00  Corporate Auto            SUV
1056                    1/0/00  Corporate Auto  Four-Door Car
1059                    1/0/00  Corporate Auto            SUV

      Total Claim Amount
3             529.881344
6             321.600000
7             363.029680
8             511.200000
12            472.029737
...                  ...
1045           85.063708
1050          144.782152
1052          532.800000
1056           61.769564
1059          720.752945

[234 rows x 11 columns]

In [128]:
print(f"Average income for corporate Auto policies: {avargecorporate_auto}")

Average income for corporate Auto policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [129]:
import pandas as pd

In [130]:
#1
df = pd.DataFrame(customer_dataframe)

In [133]:
total_claim_numbers = df["Total Claim Amount"].describe()

In [135]:
print(total_claim_numbers)

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [141]:
#2
top75th_percent_claim_data = df['Total Claim Amount'].quantile(0.75)
print("75th Percentile of Total Claim Amount:", top75th_percent_claim_data)

75th Percentile of Total Claim Amount: 532.8

In [144]:
#3
high_policy_claim = df[df["Total Claim Amount"]>top75th_percent_claim_data]

In [145]:
print(high_policy_claim)

     Customer          ST GENDER Education Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2     AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17    OE15005        Cali    NaN   College              394524.16%  28855.0
23    TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26    US89481  California    NaN  Bachelor              394637.21%      0.0
...       ...         ...    ...       ...                     ...      ...
1059  YG44474      Oregon      M   College             1401472.13%  54193.0
1061  RY92647        Cali      F  Bachelor             1050677.17%      0.0
1068  GS98873     Arizona      F  Bachelor              323912.47%  16061.0
1069  CW49887  California      F    Master              462680.11%  79487.0
1070  MY31220  California      F   College              899704.02%  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]